<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>
<body>
  <footer class="footer">
  <div class="dados">
    <div><h3>Germanno Falcão</h3><br><br><p>Tel: +55 19 98117-9406<br><br>Email<br>germanno.falcao@gmail.com</p></div>
    <div><a href="http://www.youtube.com/germannofalcao"><b>Canal</b> do YouTube</a><br><a href="http://www.instagram.com/germannofalcao"><b>Instagram</b> de Germanno</a><br><a href="http://linkedin.com.br/in/germannofalcao"><b>LinkedIn</b> de Germanno</a></div>
  </div>
  </footer>
</body>
</html>