<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Germanno Falcão - Formação</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('header'); %>

  <main>
    <div class="formacao">
    <img src="/images/perfil2.JPG" alt="Germanno Falcão">
    <div>
    <h3>Formação e projetos</h3>
      <p>Germanno Falcão é músico formado em Licenciatura em Música pela UNICAMP (2020). É violinista, rabequeiro, compositor e pesquisador de música tradicional brasileira e do mundo. Germanno trilhou caminhos na rabeca, em tradições nordestinas, e no teatro. <br><br>
      <strong>Com o violino:</strong><br>
      No decorrer dos anos integrou formações diversas, entre orquestras sinfônicas (Patrulheiros de Campinas 2017 a 2018, Orquestra do Departamento de Música da UNICAMP 2016, orquestras de festivais Gramado-RS e Juíz de Fora-MG), cameratas (Camerata de Música Antiga da UNICAMP 2015 a 2017) e grupos de música popular (Munay Kawsay 2013 a 2015; Banda Humanaraíz 2018, trio Sapiranga em Pé de Serra 2018), até mergulhar no Trio Os Girassóis, com Aloisio Oliver e Luiza Novaes, onde desenvolve música tradicional irlandesa, grega, balcânica, brasileira, argentina, e onde a sonoridade trio convida ao desafio. <br>
      Participou do festival EthnoBrasil, em 2018, compondo uma "orquestra efêmera" com músicos da França, Angola, Argentina, Chile, Argélia, Persa, Japão, Malásia e Brasil, de violino e rabeca na mão. Participou de festivais similares na França (EthnoFrance 2019) e Dinamarca (ROD Folk Festival 2019), representando as tradições brasileiras e imergindo nas tradições dos povos.<br>      
      Mantém o Trio Os Girassóis, e um animado Duo com Caroline Secolo, com sua voz, percussão e ukulele, somados ao violino, num repertório variado desde música pop e jazz até nórdicas e irlandesas.<br>   
      Está trabalhando num projeto solo autoral de Violino & Live Looping, onde com somente um violino e equipado de pedais, constrói músicas ao vivo com apelo orquestral, e o público pode vivenciar o surgimento das camadas da música e das narrativas do arranjo. Esse projeto já lançou dois singles “Espiral” e “Quando Amanhece”, contemplados pelo Credenciamento nº 1 e nº2 de Artistas da Prefeitura de Campinas - SP (2020).<br><br>
      <strong>Com a rabeca:</strong><br>
      Participou do Grupo Manjarra (Cia Mundu Rodá - 2016 a 2018), tocando a rabeca nordestina nos folguedos de Cavalo-Marinho e apresentações do grupo em São Paulo. Em Caruaru - PE, tocou sua rabeca em diversos palcos de festivais durante o São João (2017).<br><br>   
      <strong>Como compositor e trilhas sonoras:</strong><br><br>
      Compôs a trilha sonora para a Trupe Alumiada de Teatro, na peça “As Pelejas de Maria Bonita” (2017), com a rabeca e a sanfona, atuando na peça como músico e como ator.<br><br>
      Compôs a trilha sonora para o Grupo Criados Mudos (2017), uma proposta de conexão entre cinema mudo e teatro, tocando múltiplos instrumentos (piano, sanfona, voz e pedais eletrônicos), sendo indicado como “Melhor trilha sonora” no Festival de Teatro de Limeira (2019).<br>
      Compôs a trilha sonora para a peça “Macbeth” (Grupo Casca, 2018), utilizando a linguagem de “missa coral” na voz dos atores, e na mescla do orquestral com o eletrônico. A peça foi contemplada pelo ProAC Editais nº 01/2019 para circulação no interior de São Paulo.<br>     
      Sonorizou diversas histórias narradas pela contadora de histórias Laura Tomé, utilizando violino, rabeca, sanfona e percussão, ambientando o público no clima da história e fortalecendo as narrativas (2017 a 2019), realizando apresentações no interior de Sâo Paulo e no Encontro Internacional de Contadores de Histórias (Boca do Céu 2018).<br>     
      Participou do Encontro Internacional de Contadores de Histórias (Boca do Céu 2020), na “Conversa entre Narração e Música: experiência e reflexão”, com a contadora de histórias Yohana Ciotti em uma pesquisa que buscou as conexões e diálogos possíveis entre música e contação histórias, culminando numa apresentação original “Janete”, de trilha sonora original, mediada por Regina Machado.<br>   
      Foi contemplado pelo Prêmio Funarte “Respirarte” (2020) duas vezes: 1. Com a trilha sonora de “A Batalha”, um vídeo na linguagem do cinema Cinema Mudo, com a atriz Juliana Eiras; 2. Com a trilha sonora de “Janete e Tam Lin”, contação de histórias, com a atriz e contadora Yohana Ciotti.
      Foi contemplado com o ProAC Expresso LAB (2020) no projeto “A Mulher Foca: A história que veio do Mar” com Yohana Ciotti, produzindo a trilha sonora da história A Mulher Foca, inspirado em sonoridades da Escócia.<br>
      Compôs a trilha sonora do livro “A Menina Que Foi Rio”, de Yohana Inês Ciotti, 2021, para a contação de história do audiolivro de mesmo nome. Editora Aletria, ISBN-10 ‏ : ‎ 6586881633<br>
      Compôs a trilha sonora da peça “A Margem”, monólogo de Agnes e direção de Bruno Mariani, 2021.
      </p>
    </div>
    </div>
  </main>
  
  <%- include('footer') %>

</body>
</html>