<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Germanno Falcão - Formação</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header class="header">
    <div class="wrap">
    <img width="200" height="200" src="/images/logo1.png">
    <h1>Germanno Falcão</h1>
  </div>
    <nav>
      <ul class="header-menu">
        <li><a href="#experiencia">Experiência</a>
        </li>
        <li><a href="#formacao">Formação</a>
        </li>
        <li><a href="#contato">Contato</a>
        </li>
      </ul>
    </nav>
  </header>

  
</body>
</html>