<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato - Germanno Falcão</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('header'); %>
  <main>
    <div class="form">
      <h2>Deixe uma mensagem!</h2><br><br>
      <form action="/recebido" method="post">
        <p>Seu nome:</p>
        <input type="text" name="nome"></input>
        <p>Seu email:</p>
        <input type="text" name="email"></input>
        <p>Sua mensagem:</p>
        <textarea name="mensagem"></textarea><br><br>
        <button type="submit">Enviar mensagem</button>
      </form>
    </div>
  </main>
  <%- include('footer') %>
</body>
</html>