
  <header class="header">
    <div class="logo">
    <a href="/"><img width="200" height="200" src="/images/logo1.png">
    <h1>Germanno Falcão</h1></a>
  </div>
  <div>
    <nav>
      <ul class="header-menu">
        <li><a href="/#experiencia">Experiência</a>
        </li>
        <li><a href="/formacao">Formação</a>
        </li>
        <li><a href="/contato">Contato</a>
        </li>
      </ul>
    </nav>
  </div>
  </header>
