<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header'); %>

    <main>
      <div class="introducao">
        <img src="/images/perfil1.jpg" alt="Germanno Falcão" />
        <div>
          <h1>Violinista, <br />compositor e <br />professor</h1>
          <p>Formado em Música pela UNICAMP</p>
        </div>
      </div>

      <section class="experiencia" id="experiencia" aria-label="experiencia">
        <h2 class="subtitulo">Experiência</h2>
        <div>
          <p class="experiencia-texto">
            Violinista, pesquiso músicas tradicionais do mundo, componho
            <strong>trilhas sonoras</strong> para teatro, contação de histórias
            e <strong>curtas metragens</strong> utilizando violino, piano,
            sonoridades orquestrais e instrumentos étnicos.<br />

            <!-- Representei o Brasil na <strong>França</strong> (Festival EthnoFrance 2019) e na <strong>Dinamarca</strong> (ROD Folk Festival 2019), recebi prêmios <strong>Funarte "Respirarte"</strong> com trilhas sonoras e realizei circulações com o ProAC Editais no interior de São Paulo -->
          </p>
          <h3 class="projetos-titulo">Compositor de trilhas sonoras</h3>
          <div class="projetos">
            <span class="projetos-anos">2017</span>
            <p class="projetos-texto">
              <strong>Trupe Alumiada de Teatro</strong> - peça "As Pelejas de
              Maria Bonita" - rabeca e sanfona
            </p>
            <p class="projetos-texto">
              <strong>Grupo Criados Mudos</strong> - peça "O Grande Duelo"
              trilha sonora estilo "cinema mudo" - piano, sanfona e violino.
              Indicado para "Melhor Trilha Sonora" no Festival de Teatro de
              Limeira
            </p>
          </div>
          <div class="projetos">
            <span class="projetos-anos">2018</span>
            <p class="projetos-texto">
              <strong>Grupo Casca</strong> - peça "Macbeth" (de W .Shakespeare)
              - trilha sonora utilizando canto coral e instrumentos eletrônicos.
            </p>
            <p class="projetos-texto">
              <strong>Encontro Internacional de Contadores de Histórias</strong>
              - trilha sonora para a apresentação de Laura Tomé.
            </p>
          </div>
          <div class="projetos">
            <span class="projetos-anos">2020</span>
            <p class="projetos-texto">
              <strong>2 Prêmios Funarte Respirarte</strong> - 1. Trilha sonora
              de "A Batalha" (Cinema Mudo) com a atriz Juliana Eiras e 2. Trilha
              sonora de "Janete e Tam Lin" (conto celta) com a atriz Yohana
              Ciotti
            </p>
          </div>
          <div class="projetos">
            <span class="projetos-anos">2021</span>
            <p class="projetos-texto">
              <strong>"A Mulher Foca: A história que veio do mar"</strong> com a
              atriz Yohana Ciotti - trilha sonora com sonoridade celta -
              circulação com ProAC
            </p>
            <p class="projetos-texto">
              <strong>Livro "A Menina que foi rio"</strong>, de Yohana Ciotti -
              trilha sonora para o audiolivro de mesmo nome.
            </p>
            <p class="projetos-texto">
              <strong>Emaranhados</strong> - peça "A Margem" - trilha sonora da
              peça, inspirado em sonoridades brasileiras.
            </p>
          </div>
        </div>
      </section>
    </main>

    <%- include('footer') %>

  </body>
</html>
