.footer {
  max-width: 100%;
  background: #3A0F00;
  color: antiquewhite;
}

.footer p {
  
}

.footer a {
  size: 1.1rem;
  text-decoration: none;
  color: antiquewhite;
  line-height: 1.5rem;
  display: block;
}

.footer a:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.dados {
  display: flex;
  justify-content:space-evenly;
  margin: 0 20%;
  padding: 20px 0;
  gap: 20px

}