.header {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  color: #9A4922;
}

.header a {
  size: 1.123rem;
  line-height: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
}

.header a:hover {
  background: #FFD974;
  border-radius: 4px;

  transition: 0.5s;
}

.logo a {
  background: none;
}

.logo a:hover {
  background: none;
  transform: scale(1.1);
  transition: all 0.5s;
}

@media (max-width: 800px){
  .header {
    flex-direction: column;
    padding: 20px;
  }

  .header a {
    margin-top: 20px;
    background: #f5f5f5;
    border-radius: 4px;
  }

  .header a:hover {
    background: #FFD974;
    border-radius: 4px;
    transition: 0.5s;
  }
}