.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 30px;
}

.introducao p {
  font-size: 1.12rem;
  color: #525252;
}

@media (max-width: 1100px) {
  .introducao h1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 900px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem;
  }
}

@media (max-width: 550px){
  .introducao {
    grid-template-columns: 1fr;
  }
}